html body {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/form-bk.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.App-header {
  background: #282c34;
  display: block
}

.Header-logo {
  display: block;
  height: 50px;
}

/* Todos page css */

.Todos {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.Form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 20px 45px 45px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Form .Title {
  font-family: "Roboto", sans-serif
}

.Form .Legend {
  font-size: 17px !important;
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px 3px
}

.Form input {
  font-size: 17px !important;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
}

.Form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #282c34;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 15px;
}

.Form .Error-message {
  display: flex;
  padding-bottom: 10px;
  color: red;
  font-size: smaller;
  padding-left: 10px;
  margin-top: -10px;
}

.Form button:hover,.form button:active,.form button:focus {
  background: #000000;
}

/* loading page css */
body{
  margin: 0;
  padding: 0;
}

.Loading {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 200px;
  height: 90px;
  margin: 200px auto 100px;
  padding: 20px 45px 45px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Loading .Title {
  font-family: "Roboto", sans-serif
}

.Loading ul{
  margin-left: 25px;
  margin-top: 33px;
  display: flex
}
.Loading ul li{
  list-style: none;
  width: 6px;
  height: 20px;
  background: #262626;
  margin: 0 2px;
  animation: animate 0.7s infinite alternate;
}
@keyframes animate {
  0%{
      transform: scaleY(1);
  }
  25%{
      transform: scaleY(1);
  }
  50%{
      transform: scaleY(1);
  }
  75%{
      transform: scaleY(1);
  }
  100%{
      transform: scaleY(3);
  }   
}
.Loading ul li:nth-last-child(1){
  animation-delay: 0.1s
}
.Loading ul li:nth-last-child(2){
  animation-delay: 0.2s
}
.Loading ul li:nth-last-child(3){
  animation-delay: 0.3s
}
.Loading ul li:nth-last-child(4){
  animation-delay: 0.4s
}
.Loading ul li:nth-last-child(5){
  animation-delay: 0.5s
}
.Loading ul li:nth-last-child(6){
  animation-delay: 0.6s
}
.Loading ul li:nth-last-child(7){
  animation-delay: 0.7s
}

/* FormSubmitted page css */

.FormSubmitted {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 240px;
  margin: 130px auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.FormSubmitted .Title {
  font-family: monospace
}

.FormSubmitted .Icon {
  height: 100px;
  text-align: center
}
